<!DOCTYPE html>
<html>
  <head>
    <title>To Do List</title>
    <style type="text/css" media="screen">
      html, body {
        background-color: #4B7399;
        font-family: Verdana, Helvetica, Arial;
        font-size: 14px;
      }
      a { color: #0000FF; }

      #container {
        width: 85%;
        margin: 0 auto;
        background-color: #FFF;
        padding: 20px 40px;
        margin-top: 20px;
        min-height: 600px;
      }
      #footer {
        width: 85%;
        margin: 0 auto;
        background-color: #FFF;
        padding: 20px 40px;
      }
      .table tr.contact:hover {
        background-color: #4B7399;
        cursor: hand;
        cursor: pointer;
      }
      .table th {
        background-color: #48D1CC;
        cursor: hand;
        cursor: pointer;
      }
    </style>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript" charset="utf-8">
      $(function() {

        addContactsToTable();
        $("#contacts").tablesorter();

        $("#contacts").delegate("tr.contact", "click", function(){
          var name = $(this).children('#name').text();
          var number = $(this).children('#number').text();
          var id = $(this).children('#id').text();
          $('#edit-contact-modal').modal('toggle');
          $('#edit-contact #contact_name').val(name);
          $('#edit-contact #contact_number').val(number);
          $('#edit-contact #id').text(id);
        });

        $("#edit-contact").delegate("#remove", "click", function(){
          var id = $('#edit-contact #id').text()
          $.ajax({
            url: "/contacts/" + id,
            type: "DELETE",
            dataType: "json",
            data: {"_method":"delete"},
            success: function(data) {
              $('tr.contact').remove();
              addContactsToTable();
              $('#edit-contact-modal').modal('toggle');
            }
          });

        });



        function addContact(contact) {
          $('#contacts tbody').append("<tr class='contact'>" + "<td id='name'>" + contact.name + '</td>' +  ' - ' + "<td id='number'>" + contact.number + '</td>' + "<td style='visibility: hidden' id='id'>" + contact.id + '</td>' +'</tr>');

          // let the plugin know that we made a update 
          $("#contacts").trigger("update"); 
          // set sorting column and direction, this will sort on the 2nd col
          var sorting = [[1,0]]; 
          // sort on the 2nd column 
          $("#myTable").trigger("sorton",[sorting]);

        }

        $('#new-contact').submit(function(e) {
          $.post('/contacts', $(this).serialize(), addContact);
          this.reset();
          e.preventDefault();
          $('#new-contact-modal').modal('toggle');
        });

        $('#edit-contact').submit(function(e) {
          var data = $(this).serializeArray();
          var id    = $('#edit-contact #id').text()
          $.ajax({
            type: 'PUT',
            url:  '/contacts/' + id,
            data: data,
            dataType: "JSON",
            success: function(data) {
              $('tr.contact').remove();
              addContactsToTable();
            }
          });
          this.reset();
          e.preventDefault();
          $('#edit-contact-modal').modal('toggle');
        });

        function addContactsToTable() { 
          $.getJSON('/contacts', function(contacts) {
            $.each(contacts, function() { addContact(this); });
          });
        }
      });
    </script>
  </head>
  <body>
    <div id="container">
      <div class="row">
        <div class="span9"> 
          <h1>Contacts</h1>
          <table id="contacts" class='table tablesorter'>
            <thead> 
              <tr>
                <th>Name</th>
                <th>Number</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
        <div class="span2">
          <a href="#new-contact-modal" role="button" class="btn btn-primary" data-toggle="modal">Add Contact</a>
        </div>
      </div>
    </div>
    <div id="footer">
      <div id="new-contact-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">New Contact</h3>
        </div>

        <form id="new-contact" >
          <div class="modal-body">
            <label for="name">Name</label>
            <input type="text" name="contact[name]" id="contact_name">
            <label for="number">Number</label>
            <input type="text" name="contact[number]" id="contact_number">
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-success" value="Add">
          </div>
        </form>
      </div>

      <div id="edit-contact-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Edit Contact</h3>
        </div>

        <form id="edit-contact" >
          <div class="modal-body">
            <label for="name">Name</label>
            <input type="text" name="contact[name]" id="contact_name">
            <label for="number">Number</label>
            <input type="text" name="contact[number]" id="contact_number">
            <div id="id"></div>
          </div>
          <div class="modal-footer">
            <input href="delete" id="remove" class="btn btn-danger pull-left" value="remove">
            <input type="submit" class="btn btn-success" value="Add">
          </div>
        </form>
      </div>

    </div>
  </body>
</html>
